<html>
  <head>
    <title> {{.SafeTitle}} </title>
  </head>
  <body>
    <h2>{{.Num}}. {{.Title}}</h2>
    <a href={{.ImgName}}><img src="{{.ImgName}}" alt="{{.Alt}}"></a>
    <p>{{.Alt}}</p>
  </body>
</html>
